.dark {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.light {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.light h3 {
  margin: 0 0 0.25rem 0;
}
.dark h3{
  margin: 0 0 0.25rem 0;
  color: white;
}

.light .description {
  font-style: italic;
}
.dark .description{
  font-style: italic;
  color: white;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}